# ==============================
# Environment
# ==============================
*venv*

# ==============================
# Terraform
# ==============================
*tfstate*
*tfvars*

# ==============================
# Docker
# ==============================

# ==============================
# Python
# ==============================
*pycache*

# ==============================
# VSCode
# ==============================

# ==============================
# MacOS
# ==============================
.DS_Store
